div {
    
}

body{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-content: space-around;
    overflow: scroll;
}

.sidebar{
    
    width:40vw;
    
}


.logo{
    color: white;
    background-color: rgba(108, 122, 137, 0.8);
    padding:16px;
    font-size: 2rem;
    position: relative;
    top: -70vh;
    text-align: center;
    
    
}


.container{
    display:flex;
    
    padding: 0 2rem;
}

.container > div{
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 1rem;
    margin-right: 1rem;
}

button{
    margin: 2rem;
}

a{
    text-decoration: none;
}

.already{
    margin-left: 2rem;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

.content{
    background-color: rgb(234, 212, 169);
    display: flex;
    flex-direction: column;
    
}

form{
    background-color: white;
}

div.content > p{
    height: 20vh;
    padding: 3rem;
    font-weight: bold;
    font-size: x-large;
}

caption{
    font-size: large;
}

input{
    border-style: solid;
    border-radius: 15px;
}

#message{
    padding: 0;
    margin:0;
    font-size: small;
}

img{
    height: 100vh;
    margin-bottom: -100px;
    width: 40vw;
}